# Database settings
DATABASE_NAME=prifashion
DATABASE_USER=root
DATABASE_PASSWORD=boossa12
DATABASE_HOST=localhost
DATABASE_PORT=3306

# Python path
PYTHON_PATH=

# Media settings
MEDIA_ROOT=media

# Debug settings
DEBUG=True

# Secret key (generate a new one for production)
SECRET_KEY=django-insecure-ge9)a+1@8zel*ba@&m$4ltn-2nhoc0$)y1%#t15@4cn7o38052
